@charset "utf-8";

html {
    background-color: rgb(133, 92, 92);
}

header  {
    width: 85%;
    margin: 0 auto;
}

img {
    width: 60%;
}


/*Mobile Rules*/
@media screen and (max-width: 480px) {
    body {
        width: 98%;
        margin: 0 auto;
        background-color:rgb(255, 245, 224); /* Color of the webpage on mobile */
    }

    nav > ul > li {
        flex: 1 1 0px;
        text-align: center;
        line-height: 2.2em;
    }

    nav > ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    aside > img {
        width: 100%;
    }
}


/*Desktop Rules*/
@media screen and (min-width: 481px) {
    body {
        min-height: 100vh;
        width: 100%;
        /* height: 100%; */
        min-width: 640px;
        max-width: 1500px;
        margin: 0 auto;
        background-color: rgb(255, 245, 224);
    }

    nav > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    nav > ul > li{
        flex: 1 1 0;
        text-align: center;
    }
}

